# TODO: Update with exact module version
numpy
torch>=1.7
opencv_python
loguru
scikit-image
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
cython_bbox
onemetric

# verified versions
onnxruntime==1.13.1
onnx==1.13.0
onnxsim==0.4.33
